name: Deploy PickForMe Server to Prod

on:
  workflow_dispatch:  # 수동 트리거만 사용

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Configure Git
        run: |
          git config --global user.name "github-actions" 
          git config --global user.email "github-actions@github.com"

      - name: Start SSH agent with deploy keys
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: |
            ${{ secrets.PROD_DEPLOY_KEY }}

      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: main  # main 브랜치 체크아웃

      - name: Set remote to SSH
        run: git remote set-url origin git@github.com:Si-gongan/pickforme.git

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Create and push tags
        run: |
          GIT_TAG_FOR_PROD="prod_$(date -u +'%y%m%d-%H%M')"
          echo "GIT_TAG_FOR_PROD=$GIT_TAG_FOR_PROD" >> $GITHUB_ENV
          git tag $GIT_TAG_FOR_PROD
          git tag -f prod_server
          git push -f origin $GIT_TAG_FOR_PROD
          git push -f origin prod_server
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.PROD_EC2_HOST }}
          username: ${{ secrets.PROD_EC2_USERNAME }}
          key: ${{ secrets.PROD_EC2_SSH_KEY }}
          script: |
            source ~/.nvm/nvm.sh
            nvm use 18
            cd /home/ubuntu/pickforme
            git fetch --all
            git checkout $GIT_TAG_FOR_PROD
            cd back
            npm install
            pm2 start pm2.json